@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
    font-family: "Inter", "Helvetica", sans-serif;
    overflow-x: hidden;
  }

 a {
    text-decoration: underline;
    color: black;
 }

 h2 {
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    text-align: left;
  }

  p {
    font-weight: 200;
    font-size: 1rem;
    margin: 1rem 0;
  }
  
 .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}
